|Contacts loaded from database: {{ contacts.length }}
|<div ng-repeat="contact in contacts">
|	<div class="contact">
img(src="/images/custom_user.jpg")
| <p>{{contact.first_name}} {{contact.last_name}} </p> 
|                <p>Website: {{contact.website}}</p>
|                <p>Age: {{contact.age}}</p>
|                <p>Mobile: {{contact.mobile_phone }}</p>
|            	 <p>ID:{{contact._id}}</p>
|	</div>
|	</div>
|</div>