extends layout

block content
	h1= title
	p Welcome to #{welcom_message}

	div(ng-app='contactCardsApp')
		div(ng-controller='ContactListCtrl')
			div(data-load-information)

	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js')
	script(src='/javascripts/contactCardsApp.js')
